.layout {
    grid-template:
            "nav nav nav" 1fr
            "main main main" 1fr
            "main main main" 1fr / 1fr 1fr 1fr;

    position: absolute;
    top: 0;
    left: 0;

    overflow: visible;

    width: 100%;
    height: fit-content;
}

h1 {
    margin: 5px 0px;

    font-size: 1.5em;
}

nav {
    grid-area: nav;

    display: flex;
    align-items: center;
    gap: 10px;

    position: sticky;
    top: 0;

    padding: 0px 5px;

    border: 5px black solid;
    background-color: white;
}

main {
    grid-area: main;

    display: grid;
    grid-template-columns: repeat(auto-fill, 110px);

    height: max-content;
}

main.list {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.unit {
    width: 15%;
    max-width: 150px;
}