.layout {
    grid-template:
            "nav nav nav" 1fr
            "main main main" 1fr
            "main main main" 1fr / 1fr 1fr 1fr;

    position: absolute;
    top: 0;
    left: 0;

    overflow: visible;

    width: 100%;
    height: fit-content;
}

header {
    display: flex;
    width: 100%;
    background-color: aqua;
}

nav {
    grid-area: nav;

    display: flex;
    align-items: center;

    position: sticky;
    top: 0;

    padding-left: 1em;

    border: 5px black solid;
}

main {
    grid-area: main;

    display: grid;
    grid-template-columns: repeat(auto-fill, 110px);

    height: max-content;
}